<h2>Column Names for Coop data</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>No</th>
      <th>Column names</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <th>0</th>
      <td>Unnamed: 0</td>
    </tr> -->
    <tr>
      <th>1</th>
      <td>ID</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Station Name</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Latitude1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Longitude1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Elevation [m]</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Archive Begins</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Archive Ends</td>
    </tr>
    <tr>
      <th>8</th>
      <td>IEM Network</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Attributes</td>
    </tr>
  </tbody>
</table>