
<html>

	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<style>
		html {
			padding: 20px;
		}
		</style>
	</head>
	<body>
		<!-- from https://picocss.com/docs/navs.html -->
		<nav>
		  <ul>
		    <li><strong>Weather Database Project</strong></li>
		  </ul>
		  <ul>
		    <li><a href="/">Home</a></li>
		    <li><a href="/mapQuery">Map Query</a></li>
		    <li><a href="/stationQuery">Specific Station</a></li>
		    <li><a href="/query">Metadata Search</a></li>
			<li><a href="/coopcolumn">Data information for COOP</a></li>
			<li><a href="/asoscolumn">Data information for ASOS</a></li>
		    <li><a href="/about">About</a></li>
		  </ul>
		</nav>
		<h1>Welcome to the Weather Database!</h1>
		<p>Select an application below.</p>

		
		<a href="/mapQuery" role="button">Map Query</a>
		<a href="/stationQuery" role="button">Specific Station</a>
		<a href="/query" role="button">Metadata Search</a>
	</body>

</html>
