
<html>

	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<style>
		html {
			padding: 20px;
		}
		</style>
	</head>
	<body>
		<!-- from https://picocss.com/docs/navs.html -->
		<nav>
		  <ul>
		    <li><strong>Weather Database Project</strong></li>
		  </ul>
		  <ul>
		    <li><a href="/">Home</a></li>
		    <li><a href="/mapQuery">Map Query</a></li>
		    <li><a href="/stationQuery">Specific Station</a></li>
		    <li><a href="/query">Metadata Search</a></li>
		    <li><a href="/about">About</a></li>
		  </ul>
		</nav>
		<h1>Hello world!!</h1>
		<p>Enter an elevation below.</p>
		<form action="/map_query" method="post">
			<label for="latitude">
			      Latitude 
			      <input type="text" id="latitude" name="latitude" placeholder="123" required>
			</label>
			<label for="longitude">
			      Longitude 
			      <input type="text" id="longitude" name="longitude" placeholder="123" required>
			</label>
			<label for="distance">
			      Distance 
			      <input type="text" id="distance" name="distance" placeholder="123" required>
			</label>
		<button type="submit">Submit</button>
		</form>

	</body>

</html>
