<html>

	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<style>
		html {
			padding: 20px;
		}
		</style>
	</head>
	<body>
		<!-- from https://picocss.com/docs/navs.html -->
		<nav>
		  <ul>
		    <li><strong>Weather Database Project</strong></li>
		  </ul>
		  <ul>
		    <li><a href="/">Home</a></li>
		    <li><a href="/mapQuery">Map Query</a></li>
		    <li><a href="/stationQuery">Specific Station</a></li>
		    <li><a href="/query">Metadata Search</a></li>
			<li><a href="/coopcolumn">Data information for COOP</a></li>
			<li><a href="/asoscolumn">Data information for ASOS</a></li>
		    <li><a href="/about">About</a></li>
		  </ul>
		</nav>
		<h1>Elevation Query</h1>
		<p>Enter an elevation below.</p>
		<form action="/query_elevation" method="post">
		<label for="elevation">
		      Elevation
		      <input type="text" id="elevation" name="elevation" placeholder="123" required>
		    </label>
		<button type="submit">Submit</button>
		</form>
		<p>Enter a longitude below.</p>
		<form action="/query_longitude" method="post">
			<label for="longitude">
				Longitude
				<input type="text" id="longitude" name="longitude" placeholder="123" required>
			</label>
			<button type="submit">Submit</button>
		</form>
		<p>Enter a latitude below.</p>
		<form action="/query_latitude" method="post">
			<label for="latitude">
				Latitude
				<input type="text" id="latitude" name="latitude" placeholder="123" required>
			</label>
			<button type="submit">Submit</button>
		</form>
		<p>Enter longitude and latitude below.</p>
		<form action="/query_distance" method="post">
			<label for="longitude1">
				Longitude
				<input type="text" id="longitude1" name="longitude1" placeholder="123" required>
			</label>
			<label for="latitude1">
				Latitude
				<input type="text" id="latitude1" name="latitude1" placeholder="123" required>
			</label>
			<button type="submit">Submit</button>
		</form>

	</body>

</html>
